<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelNest</title>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body {% block body_class %}{% endblock %}>
    <div>
        {% if messages %}
        <div class="row">
            {% for m in messages %}
            <div class="alert {% if m.tags == 'error' %} 
            alert-danger 
            {% else%}
            alert-{{ m.tags }} 
            {% endif %}
            text-center">{{ m }}</div>
            {% endfor %}
        </div>
      
    {% endif %}
        <header class="row">
            <div class="container-fluid navbar">
                <div>
                    <a href="/">
                        TravelNest
                    </a>
                </div>
                <div>
                    <div>
                        <a href="/">
                            Home
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'list_homestays' %}">
                            Places
                        </a>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'content_based_recommendation' %}">You May Like</a>
                        {% endif %}
                    </div>
                    <div>
                        About Us
                    </div>
                    <div>
                        Contact Us
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown" style=" list-style: none;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                            <ul class="dropdown-menu">
                                {% if user.is_host %}
                                    <li><a class="dropdown-item" href="{% url 'host' %}">Host</a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                {% elif user.is_guest %}
                                    <li><a class="dropdown-item" href="{% url 'view_profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown" style="margin-right: 35px; list-style: none;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Host</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#hostloginModal">Login</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#hostsignupModal">Register</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" style=" list-style: none;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guest</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#guestloginModal">Login</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#guestsignupModal">Register</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <!-- Guest Signup Modal -->
            <div class="modal fade" id="guestsignupModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="registerModalLabel">Guest Registration</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'guest_signup' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label for="">Profil Picture</label>
                            <input type="file" class="form-control" name="image">
                            </div>
                            <div class="mb-3">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" name="first_name">
                            </div>
                            <div class="mb-3">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" name="last_name">
                            </div>
                            <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                            <label for="">Mobile</label>
                            <input type="text" class="form-control" name="mobile">
                            </div>
                            <div class="mb-3">
                            <label for="">Address</label>
                            <input type="text" class="form-control" name="address">
                            </div>
                            <div class="mb-3">
                            <label for="">username</label>
                            <input type="text" class="form-control" name="username">
                            </div>
                            <div class="mb-3">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="password">
                            </div>
                            <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#guestloginModal">Already Registered? LogIn</a>
                            </div>
                        </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Guest Login Modal -->
            <div class="modal fade" id="guestloginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="loginModalLabel">Guest Login</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'guest_login' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label for="">username</label>
                            <input type="text" class="form-control" name="username">
                            </div>
                            <div class="mb-3">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="password">
                            </div>
                            <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Login">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#guestsignupModal">Still not Registered? Register Now</a>
                            </div>
                        </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Host Signup Modal -->
            <div class="modal fade" id="hostsignupModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="registerModalLabel">Host Registration</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'host_signup' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label for="">Profil Picture</label>
                            <input type="file" class="form-control" name="image">
                            </div>
                            <div class="mb-3">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" name="first_name">
                            </div>
                            <div class="mb-3">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" name="last_name">
                            </div>
                            <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                            <label for="">Mobile</label>
                            <input type="text" class="form-control" name="mobile">
                            </div>
                            <div class="mb-3">
                            <label for="">Address</label>
                            <input type="text" class="form-control" name="address">
                            </div>
                            <div class="mb-3">
                            <label for="">username</label>
                            <input type="text" class="form-control" name="username">
                            </div>
                            <div class="mb-3">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="password">
                            </div>
                            <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#hostloginModal">Already Registered? LogIn</a>
                            </div>
                        </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Host Login Modal -->
            <div class="modal fade" id="hostloginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Host Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'host_login' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                        <label for="">username</label>
                        <input type="text" class="form-control" name="username">
                        </div>
                        <div class="mb-3">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password">
                        </div>
                        <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Login">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#hostsignupModal">Still not Registered? Register Now</a></li>
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>

        {% block content %}

        {% endblock %}
        <div class="container main-content">
            <footer>
                <div class="footer-row">
                <div>
                    <h1 class="name1">TravelNest</h1>
                    <p class="type1">Lorem Ipsum Lorem Ipsum <br/> Lorem Ipsum Lorem Ipsum <br/>Lorem Ipsum Lorem Ipsum</p>
                </div>
                <div>
                    <h1 class="topic">Quick Links</h2>
                    <ul style="list-style: none; padding-left: 0;" class="type">
                    <li>About</li>
                    <li>Shop</li>
                    <li>Contact</li>
                    </ul>
                </div>
                <div>
                    <h1 class="topic">Contact Info</h2>
                    <ul style="list-style: none; padding-left: 0;" class="type">
                    <li>Mangalbazar, Lalitpur, Nepal</li>
                    <li>+977 9874 651 230</li>
                    <li>travelnest@gmail.com</li>
                    </ul>
                </div>
                <div>
                    <h1 class="topic">Social Info</h2>
                    <p class="type1">You can follow us on our social <br/>platforms to get updates.</p>
                    <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube-play"></i>
                    </div>
                </div>
                </div>
                <hr/>
                <div class="footer-bottom">
                <p>&copy; Copyright 2023 TravelNest.</p>
                </div>
            </footer>
            </div>
        </div>
        
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var navbar = document.querySelector('.navbar');
        
                window.addEventListener('scroll', function() {
                    if (window.scrollY > 50) { // Adjust the scroll threshold as needed
                        navbar.classList.add('scrolled');
                    } else {
                        navbar.classList.remove('scrolled');
                    }
                });
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </div>
</body>
</html>