{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<br>
<h1 class="booking-center-text">Booking Details</h1>

<div class="progress-box">
  <div class="step booking-step {% if step == 1 %}active{% endif %}">
    <div class="step-circle booking-step-circle {% if step == 1 %}booking-active-step-circle{% endif %}">1</div>
  </div>
  <div class="line"></div>
  <div class="step booking-step {% if step == 2 %}active{% endif %}">
    <div class="step-circle booking-step-circle {% if step == 2 %}booking-active-step-circle{% endif %}">2</div>
  </div>
  <div class="line"></div>
  <div class="step booking-step {% if step == 3 %}active{% endif %}">
    <div class="step-circle booking-step-circle {% if step == 3 %}booking-active-step-circle{% endif %}">3</div>
  </div>
  <div class="progress-bar blue-progress-bar" id="progress"></div>
</div>

  
<div class="reservation-info-box">
  <h2 >Reservation Info</h2>
<br>
  
   <div>
    <div class="reservation-image">
      <img src="{% static 'images/image1.jpg' %}" alt="" class="image" />
  </div>
  <div class="reservation-details">
      <ul class="booking-list-style">
        
        <h1>{{ list_homestays.name }}</h1>

        <li>Arrival Date: <input type="date" id="arrival-date" name="arrival-date"></li>
        <li>Departure Date: <input type="date" id="departure-date" name="departure-date"></li>
        <li>Price: <span> NRs.{{ homestay.price }}</span></li>
        <h2>Location:<br> {{ homestay.location }}</h2>
        <p>Features: <br>{{ homestay.features }}</p><br>
        
          <li>Discount:</li>
          <li>Tax: Rs 200</li>
          <li>Total</li>
      </ul>
  </div>
   </div>
  <div>
    <button id="redirect-button" onclick="redirectToUserDetailsPage()">Next Step</button>
  </div>

  </div>
 
  
  




<script>
  function redirectToUserDetailsPage() {
  // Assuming you want to redirect to the URL named 'user_details'
  window.location.href = "{% url 'user_details' %}";
}
  const progressBar = document.getElementById("redirect-button");

  if (step === 1) {
    progressBar.style.width = "33.33%";
  } else if (step === 2) {
    progressBar.style.width = "66.66%";
    document.querySelector(".step-circle.step-2").classList.add("active-step-circle");
  } else if (step === 3) {
    progressBar.style.width = "100%";
    document.querySelector(".step-circle.step-3").classList.add("active-step-circle");
  }

  document.getElementById("redirect-button").addEventListener("click", function () {
    step = 2;
    progressBar.style.width = "66.66%";
    document.querySelector(".step-circle.step-2").classList.add("active-step-circle");
    window.location.href = "{% url 'user_details' %}";
  })
</script>

{% endblock content %}