{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1>Homestay Details</h1>

        <div class="row">
            <!-- Left Column: Homestay Image -->
            <div class="col-md-6">
                <img src="{{ homestay.thumbnail_picture.url }}" alt="{{ homestay.homestay_name }}" class="img-fluid">
            </div>

            <!-- Right Column: Homestay Details -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ homestay.homestay_name }}</h3>
                        <p>{{ homestay.location }}</p>
                        <p>Price: {{ homestay.price }}</p>
                        <p>Features:</p>
                        {{ homestay.features|linebreaksbr }}
                        <!-- Add more details as needed -->

                        <br/>
                        <br/>
                        <!-- Book Now Button -->
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <h1>
                Ratings and Reviews
            </h1>
        </div>
    </div>
{% endblock %}
