
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'responsive.css' %}" rel="stylesheet" />
  <div class="container mt-70">
    <h2>Homestay List</h2>
    <ul>
      {% for homestay in homestays %}
        <li><a href="{% url 'homestay_detail' homestay.id %}">{{ homestay.name }}</a></li>
      {% endfor %}
    </ul>
  </div>


  <div><a href="{% url 'add_homestay' %}">Add</a></div>


  <div>
    <button  id="paymentbutton" class="btn btn-primary mt-3">Pay to Admin</button>

  </div>
  <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


  <script>
  

      function verifyPayment(payload) {
        $.ajax({
            url: "{% url 'verifyy_payment' %}",
            type: "POST",
            data: payload,
            dataType: 'json',
           
            success: function (response) {
                if (response.status === 'success') {
                    alert(response.message);
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                alert(' verified payment.');
                console.log(error);
            }
        });
    }


      var config = {
            "publicKey": "test_public_key_f359d2bd4ccc4bc2ad77916a0eba7199",
            "productIdentity": "1234",
            "productName": "travelnest",
            "productUrl": "http://127.0.0.1:8000/",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
              onSuccess: function (payload) {
                        verifyPayment(payload);
                    },
                    onError: function (error) {
                        console.log(error);
                    },
                    onClose: function () {
                        console.log('widget is closing');
                    }
                }
            };
        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("paymentbutton");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: 2000});
        };
  </script>



{% endblock %}