{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="formbold-form-wrapper">
    <h1 class="formh1">Add Your Homestay</h1>
    <form method="post" action="{% url 'add_homestay' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name" class="formbold-mb-3">Name of Homestay:</label>
        <input type="text" name="name" class="formbold-form-input" required ><br>
        <label for="photo" class="formbold-mb-3">Photo of Homestay:</label>
        <input type="file" name="photo" class="formbold-form-input" required><br>
        <label for="price" class="formbold-mb-3">Price per night:</label>
        <input type="text" name="price" class="formbold-form-input" required><br>
        <label for="location" class="formbold-mb-3">Location:</label>
        <input type="text" name="location" class="formbold-form-input" required><br>
        <label for="features" class="formbold-mb-3">Features:</label>
        <textarea name="features" class="formbold-form-input" required></textarea><br>
        <button class="formbold-btn" type="submit">Add</button>
    </form>
    <center><a href="{% url 'list_homestays' %}">View All Homestays</a></center>
</div>

    
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: white;
    padding: 40px;
  }
  .formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  .formh1{
    color: #3c33ee;
    text-align: center;
    width: 100%;
    padding: 14px 25px;
  }
        .formbold-btn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #3c33ee;
    color: white;
    cursor: pointer;
    margin-top: 25px;
  }
    </style>

{% endblock %}