{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active slider">
                <img src="{% static 'images/slider1.jpg' %}" class="d-block w-100" alt="Slider 1">
                <div class="carousel-caption">
                    <div class="slider-text text-center">
                        STAY WITH US, FEEL AT HOME
                    </div>
                    <div>
                        <button class="cta-button"><span>EXPLORE</span></button>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider">
                <img src="{% static 'images/slider2.jpg' %}" class="d-block w-100" alt="Slider 2">
                <div class="carousel-caption">
                    <div class="slider-text">
                        BEST VACATION EXPERIENCE EVER
                    </div>
                    <div>
                        <button class="cta-button"><span>EXPLORE</span></button>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider">
                <img src="{% static 'images/slider3.jpg' %}" class="d-block w-100" alt="SLider 3">
                <div class="carousel-caption">
                    <div class="slider-text">
                        COME AS A GUEST, LEAVE AS A FRIEND
                    </div>
                    <div>
                        <button class="cta-button"><span>EXPLORE</span></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="row" style="width: 100vw;">
    <div class="about" style="display: flex; justify-content: center; margin-top: 100px;">
        <div style="height:75vh; width:35vw; padding: 65px;">
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 65px;">Welcome Home!</h1>
            <h6 style="color: burlywood; margin-bottom: 45px;">SOME WORD ABOUT US</h6>
            <h5 style="font-weight: 600; margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            <h5 style="font-weight: 200;"> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur incididunt ut labore</h5>
        </div>
        <div>
            <img src="{% static 'images/slider3.jpg' %}" style="height: 75vh; width: 35vw; object-fit: cover;"/>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 65px; margin-top: 25px;">OUR SERVICES</h1>
        <div>
            <div class="choose">
                <div class="about">
                    <img src="{% static 'images/headphone.png' %}"/>
                    <h4>24/7 Support</h4>
                    <p>Is there something you don't<br/> understand? Feel free to chat with us.<br/> Get all your queries answered.</p>
                </div>
                <div class="about">
                    <img src="{% static 'images/cat.png' %}"/>
                    <h4>Become a host</h4>
                    <p>Rent your properties<br/> and welcome guests. <br/> Make use of your Property. </p>
                </div>
                <div class="about">
                    <img src="{% static 'images/search.png' %}"/>
                    <h4>Simple search process</h4>
                    <p>Find your homestay    <br/>according to  your taste <br/>and convenience.</p>
                </div>
                <div class="about">
                    <img src="{% static 'images/payment.png' %}"/>
                    <h4>Payment methods</h4>
                    <p>We have a lot of them.<br/> Find homestay within<br/> your budget. </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}