{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="row1" id="filter">
    <div class="filter1 d-flex justify-content-center mb-2">
        <form class="filter2">
            <div>
                <label>Location</label><br/>
                <input type="text" placeholder="Where are you going?" style="border: none;"/>
            </div>
            <div style="border-left: 1px solid black; border-right: 1px solid black; padding: 2px;">
                <label>Check-in</label><br/>
                <input type="date" placeholder="Add dates" style="border: none;"/>
            </div>
            <div style="border-right: 1px solid black;">
                <label>Check-out</label><br/>
                <input type="date" placeholder="Add dates" style="border: none;"/>
            </div>
            <div>
                <label>Guests</label><br/>
                <input type="guests" placeholder="Add guests" style="border: none;"/>
            </div>
            <div>
                <img src="{% static 'images/add.png' %}"/>
            </div>
        </form>
    </div>
</section>
<section class="row1" id="slider">
    <img src="{% static 'images/slider.png' %}" style="width: 100%;"/>
</section>
<section class="row1" id="us">
    <div>
        <div class="top">
            <h1>Why Choose Us</h1>
            <p>The main reason is because our competitors have<br/> disgusting sites, but we can' t write that here,<br/> so the text here will be different</p>
        </div>
        <div class="choose">
            <div class="about">
                <img src="{% static 'images/headphone.png' %}"/>
                <h4>24/7 Support</h4>
                <p>Is there something you don't<br/> understand? Feel free to call us.<br/> Phone number in the footer</p>
            </div>
            <div class="about">
                <img src="{% static 'images/cat.png' %}"/>
                <h4>We are nice</h4>
                <p>Fantasy is over,<br/> there will be something<br/> really convincing here</p>
            </div>
            <div class="about">
                <img src="{% static 'images/search.png' %}"/>
                <h4>Simple search process</h4>
                <p>We checked it out, even the kid<br/> did it, but it was my mom's<br/> friend's son</p>
            </div>
            <div class="about">
                <img src="{% static 'images/payment.png' %}"/>
                <h4>Payment methods</h4>
                <p>We have a lot of them,<br/> from cryptocurrencies to barter<br/> for potatoes</p>
            </div>
        </div>
    </div>
</section>
<section class="row1" id="hosting">
    <img src="{% static 'images/hosting.png' %}" style="width: 100%;"/>
</section>
<section class="row1" id="reviews">
    <h1 style="text-align: center; height: 500px; border:1px solid black;">Reviews</h1>
</section>

{% endblock %}