{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>List of Homestays</h1>
    <ul>
        {% for homestay in homestays %}
            <li>
                <h3>{{ homestay.name }}</h3>
                <img src="{{ homestay.photo.url }}" alt="{{ homestay.name }}" width="200">
                <li><b>Price:</b> NRs.{{ list_homestays.price }}</li>
                <li><b>Location:</b> {{ list_homestays.location }}</li>
                   <p>Features: {{ homestay.features }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}