
{% extends 'base.html' %}

{% block content %}
  <h2>Locations</h2>
  <div id="map" style="height: 400px;"></div>

  <script>
var map = L.map('map').setView([{{ locations.latitude|default:"0" }}, {{ locations.0.longitude|default:"0" }}], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    {% for location in locations %}
      L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map)
        .bindPopup("{{ location.name }} - {{ location.address }}");
    {% endfor %}

    {% if new_location %}
      // Add a marker for the new location
      L.marker([{{ new_location.latitude }}, {{ new_location.longitude }}]).addTo(map)
        .bindPopup("{{ new_location.name }} - {{ new_location.address }}");
    {% endif %}
  </script>

  <br>
  {% for location in locations %}
    <p>{{ location.name }} - {{ location.address }} ({{ location.latitude }}, {{ location.longitude }})</p>
  {% endfor %}
{% endblock %}