

{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
    <link href="{% static 'css/style1.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<br>
<h1 class="booking-center-text">Booking Details</h1>
<div class="progress-box">
  <div class="step booking-step {% if step == 1 %}active{% endif %}">
      <div class="step-circle booking-step-circle {% if step == 1 %}booking-active-step-circle{% endif %}">1</div>
  </div>
  <div class="line"></div>
  <div class="step booking-step {% if step == 2 %}active{% endif %}">
      <div class="step-circle booking-step-circle {% if step == 2 %}booking-active-step-circle{% endif %}">2</div>
  </div>
  <div class="line"></div>
  <div class="step booking-step {% if step == 3 %}active{% endif %}">
      <div class="step-circle booking-step-circle {% if step == 3 %}booking-active-step-circle{% endif %}">3</div>
  </div>
  <div class="progress-bar blue-progress-bar" id="progress"></div>
</div>

<div class="reservation-info-box">

    <h2 style="text-align: center;">Payment</h2>

  <br>
    <form action="{% url 'payment' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="fullname">Cardholder Name</label><br>
        <input type="text" id="form1" class="full-length-input" name="fullInput">

      </div>
      <div class="form-group">
        <div class="form-field">
          <label for="email">Email:</label>
          <input type="text" name="email" class="form1" id="email">
        </div>
        <div class="form-field">
          <label for="number">Phone Number:</label>
          <input type="text" name="number" class="form1" id="number">
        </div>
      </div><br>


      <div style="text-align: center;">
        <button type="submit" id="redirect-button">Pay Amount</button>
      </div>

    </form>
</div>



{% endblock %}
