{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Email: {{ user.email }}</p>
        <!-- Add more details as needed -->

        <h2>Profile Information</h2>
        <!-- Display additional profile information here -->

        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>

        <h2>Options</h2>
        <ul>
            <li><a href="{% url 'notifications' %}">Notifications</a></li>
            <h2>Liked Homestays</h2>
            {% if user.liked_homestays.all %}
            <div class="row">
                {% for homestay in user.liked_homestays.all %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ homestay.thumbnail_picture.url }}" class="card-img-top" alt="{{ homestay.homestay_name }}" style="width: 363px; height: 375px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ homestay.homestay_name }}</h5>
                            <p class="card-text">{{ homestay.location }}</p>
                            <a href="{% url 'homestay_detail' homestay.id %}" class="btn btn-primary">View Details</a>
                            {% if user.is_authenticated %}
                            <form method="post" action="{% url 'like_homestay' homestay.id %}" class="position-absolute top-0 end-0 p-3">
                                {% csrf_token %}
                                <button type="submit" class="" style="background-color: white; border: 1px solid white; border-radius: 4px;">{% if user in homestay.likes.all %}<img src="{% static 'images/like.png' %}" height="25"/>{{ homestay.likes.count }}{% else %}<img src="{% static 'images/unlike.png' %}" height="25"/>{{ homestay.likes.count }}{% endif %}</button>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No liked homestays available.</p>
        {% endif %}

            <li><a href="{% url 'history' %}">History</a></li>
        </ul>
    </div>
{% endblock %}


