{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1>You May Also Like</h1>
        

        {% if recommended_homestays %}
            <div class="row">
                {% for homestay, similarity in recommended_homestays %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ homestay.thumbnail_picture.url }}" class="card-img-top" alt="{{ homestay.homestay_name }}" style="width: 395px; height: 375px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title">{{ homestay.homestay_name }}</h5>
                                <p class="card-text">{{ homestay.location }}</p>
                                <p class="card-text">{{ homestay.price }}</p>
                                <a href="{% url 'homestay_detail' homestay.id %}" class="btn btn-primary">View Details</a>
                                <!-- <p>Likes: {{ homestay.likes.count }}</p> -->
                                {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'like_homestay' homestay.id %}" class="position-absolute top-0 end-0 p-3">
                                        {% csrf_token %}
                                        <button type="submit" class="" style="background-color: transparent; border: none;">{% if user in homestay.likes.all %}<i id="heart-icon" class="bi bi-heart-fill" style="color: red;"></i>{{ homestay.likes.count }}{% else %}<i id="heart-icon" class="bi bi-heart" style="color: red;"></i>{{ homestay.likes.count }}{% endif %}</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No recommendations at the moment.</p>
        {% endif %}
    </div>
{% endblock %}



<!-- recommendations.html -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homestay Recommendations</title>
</head>
<body>
    <h1>Recommended Homestays</h1>

    {% if recommended_homestays %}
        <ul>
            {% for homestay, similarity in recommended_homestays %}
                <li>
                    <h3>{{ homestay.homestay_name }}</h3>
                    <p>Location: {{ homestay.location }}</p>
                    <p>Similarity: {{ similarity }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations at the moment.</p>
    {% endif %}
</body>
</html> -->
