{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<br><br><br>
<div class="reservation-info-box">
  <center>
    <h2> Information</h2>
  </center><br>

  <div>

    <div class="reservation-image">
      <img src="{{ list_homestays.photo.url }}" alt="{{ list_homestays.name }}" width="400" height="200">
    </div>

        <div class="reservation-details">

        <ul class="booking-list-style">
        
      
  
          <h3>{{ list_homestays.name }}</h3>
  
             <li><b>Price:</b> NRs.{{ list_homestays.price }}</li>
          <li><b>Location:</b> {{ list_homestays.location }}</li>
          <p><b>Features:</b> {{ list_homestays.features }}</p><br>

        </ul>        
      </div>
      </div>
      <div >
        <div>
          <a href="{% url 'booking' id=list_homestays.id %}"style="text-decoration: none;">
            <button id="redirect-button">Book Now</button>
          </a>
        </div>
       
      </div>
    </div>

  </div>




</div>


</body>

</html>
<!-- <style>
  body {
    background-color: #ffffff;
  }

  .wrapper {
    height: 420px ;
    width: 654px ;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    border-color:2px solid black;
    
    
  }
  .booking-list-style {
    list-style: none;
    padding: 0;
 
  }
  
  .product-img {
    float: left;
    height: 420px;
    width: 327px;
  }

  .product-img img {
    border-radius: 7px 0 0 7px;
  }

  .product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }

  .product-text {
    height: 300px;
    width: 327px;
  }

  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }

  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }

  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #2c2727;
    
  }

  .product-text p {
   
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #5c5858;
  
    font-size: 15px;
   
  }

  .product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    
   
  }

  .product-price-btn p {
    display: inline-block;
    position: absolute;
   
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }

  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 28px;
  }

  .product-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    
  }
</style> -->
{% endblock %}