{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
    <link href="{% static 'css/style1.css' %}" rel="stylesheet" />
{% endblock %}
<br>
{% block content %}



    <h1 class="booking-center-text">Booking Details</h1>
    <div class="progress-box">
        <div class="step booking-step {% if step == 1 %}active{% endif %}">
            <div class="step-circle booking-step-circle {% if step == 1 %}booking-active-step-circle{% endif %}">1</div>
        </div>
        <div class="line"></div>
        <div class="step booking-step {% if step == 2 %}active{% endif %}">
            <div class="step-circle booking-step-circle {% if step == 2 %}booking-active-step-circle{% endif %}">2</div>
        </div>
        <div class="line"></div>
        <div class="step booking-step {% if step == 3 %}active{% endif %}">
            <div class="step-circle booking-step-circle {% if step == 3 %}booking-active-step-circle{% endif %}">3</div>
        </div>
        <div class="progress-bar blue-progress-bar" id="progress"></div>
      </div>
      <br>
<div class="reservation-info-box">
    <h2 style="text-align: center;">Your Personal Information</h2>
    <div class ="flex-bookingcontainer">
        <form action="{% url 'user_details' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="fullname">Guest Full Name</label><br>
                <input type="text" id="fullInput" class="full-length-input" name="fullInput">
            </div>
            <div class="form-group">
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form1" id="email">
                </div>
                <div class="form-field">
                    <label for="number">Phone Number:</label>
                    <input type="text" name="number" class="form1" id="number">
                </div>
            </div>
            
            

            <div>
                <label for="info">Additional Information (optional)</label><br>
                <textarea name="info" class="info"  rows="5"></textarea>
            </div>
            <div style="text-align: center;">
                <button type="submit" id="redirect-button" >Next Step</button>
            </div>
            
        </form>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            const progressBar = document.getElementById("progress");
        
            if (step === 1) {
                progressBar.style.width = "33.33%";
            } else if (step === 2) {
                progressBar.style.width = "66.66%";
                document.querySelector(".step-circle.step-2").classList.add("active-step-circle");
            } else if (step === 3) {
                progressBar.style.width = "100%";
                document.querySelector(".step-circle.step-3").classList.add("active-step-circle");
            }
        
            document.getElementById("redirect-button").addEventListener("click", function() {
                step = 2;
                progressBar.style.width = "66.66%";
                document.querySelector(".step-circle.step-2").classList.add("active-step-circle");
                window.location.href = "{% url 'user_details' %}";
            });
        </script>
        
          
    

{% endblock content %}