/* Navbar */
header.row {
    color: black;
    margin: auto;
}

header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .container-fluid div:first-child {
    font-size: 24px;
}

header .container-fluid div:last-child {
    font-size: 24px;
    display: flex;
}

header .container-fluid div:last-child div {
    margin-left: 35px;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.home-page .navbar {
    position: fixed;
    color: white;
    z-index: 100;
}


/* Footer */
.footer-row {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 90px;
}

.footer-bottom {
    font-size: 20px;
    color: rgb(78, 78, 78);
}

.icon {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: rgb(100, 100, 100);
}

/* Slider */
.slider{
    height:100vh;
    width:100vw;
    object-fit: cover;
}

.carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-text{
    color: white;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    width: 40vw;
}

.cta-button {
    position: relative;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 24px;
    width: 210px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.cta-button span {
    position: relative;
    z-index: 2;
}

.cta-button:before {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.cta-button:hover:before {
    height: 100%;
}

.cta-button:hover span {
    transform: translateY(-100%);
    color: black; /* Change text color to white on hover */
}

.scrolled {
    background-color: white !important;
    transition: background-color 0.3s ease-in-out;
    color: gray;
}

.about {
    text-align: center;
}

.about img {
    width: 30%;
}

.choose {
    display: flex;
    justify-content: center;
}

.overlay-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    height: 100px;
    background: rgba(85, 84, 84, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1; /* Set a higher z-index than the carousel */
    padding: 25px;
    color: white;
}



#carouselExampleAutoplaying {
    z-index: 0; /* Set a lower z-index than the form */
}