<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    {% load static %}
</head>
<body>
    

          <h1><center><b>Booking Details</b></center></h1>

          <!-- 123 -->
          <div class="container">
            <h2><center><b>Reservation Info</b></center></h2>
            <img src="{% static 'images/image1.jpg' %}" alt="Your Image">
            <div class ="container">
               
            </div>
    
</body>
</html>