{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% load static %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
{% endblock %}
<body>
    <h1 class="center-text">Booking Details</h1>
    <div class="progress-container">
        <div class="step step-1 {% if step == 1 %}active{% endif %}">
            <div class="step-circle {% if step == 1 %}active-step-circle{% endif %}">1</div>
        </div>
        <div class="line"></div>
        <div class="step step-2 {% if step == 2 %}active{% endif %}">
            <div class="step-circle {% if step == 2 %}active-step-circle{% endif %}">2</div>
        </div>
        <div class="line"></div>
        <div class="step step-3 {% if step == 3 %}active{% endif %}">
            <div class="step-circle {% if step == 3 %}active-step-circle{% endif %}">3</div>
        </div>
        <div class="progress-bar blue-progress-bar" id="progress"></div>
    </div>
<div class="container" >
    <h2 style="text-align: center;">Payment</h2>

    <br>
    <div style="font-weight: bold;">
        <form action="{% url 'payment' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="fullname">Cardholder Name</label><br>
                <input type="text" id="form1" class="full-length-input" name="fullInput">
              
            </div>
            <div class="form-group">
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form1" id="email">
                </div>
                <div class="form-field">
                    <label for="number">Phone Number:</label>
                    <input type="text" name="number" class="form1" id="number">
                </div>
            </div><br>

           
            <div style="text-align: center;">
                <button type="submit" id="redirect-button">Pay Amount</button>
            </div>
            
        </form>
     
    </div>
</div>

    </body>
    </html>
