<div class="container" style="
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
">
    <h2 style="text-align: center;">Payment</h2>

    <br>
    <div style="font-weight: bold;">
        <form action="{% url 'payment' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="fullname">Cardholder Name</label><br>
                <input type="text" id="fullInput" class="full-length-input" name="fullInput"style=" width: 100%;
                padding: 10px;
                margin: 10px 0;
                border: 1px solid #ccc;
                border-radius: 5px;">
            </div>
            <div class="form-group"style="
            display: inline-block;
            width: 45%; 
            margin-right: 10px; 
        ">
                <label for="number">Card Number</label><br>
                <input type="text" name="email" class="form-control" id="email">
            </div>
            <div class="form-group"style="
                display: inline-block;
                width: 45%; 
                margin-right: 10px; 
            ">
                <label for="number">Phone Number</label>
                <input type="number" name="number" class="form-control" id="number">
            </div><br>

            <div>
                <label for="info">Additional Information (optional)</label><br>
                <textarea name="info" class="form-control" id="info" rows="8" style="width: 100%;"></textarea>
            </div><br>
            <div style="text-align: center;">
                <button type="submit" class="form-control"style="background-color: rgb(238, 83, 83); border-radius: 5%; display: block; margin: 0 auto;">Next Step</button>
            </div>
            
        </form>
     
    </div>
</div>
