<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Single property demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <h1>single Property Demo</h1>
    
          <img
            src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/214165146.jpg?k=8f9aae4654146ff515aacf521adef5ac0333ab30a89af1f67e8264e6536e729d&o="
            width="400" height="200">
          
            <h5 class="card-title">Gorkha Ghar</h5>
            <p class="card-text">Gorkha</p>
            <p class="card-text" style="box-shadow: 1cm;"><i class="bi bi-star-fill" style="color: yellow;"></i> 7.5</p>
            <p class="card-text">NRs.600/2 night</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          
</body>
</html>